SECRET_KEY = django-insecure-v#(xmumi8nw%^ca157(_9=ud(*r9l^&487qk1=4+tjd5(zza62
DEBUG = False
ALLOWED_HOSTS = 127.0.0.1,localhost

DB_ENGINE = django.db.backends.sqlite3
# Si usas MySQL en cPanel, comenta la línea de arriba y descomenta estas:
# DB_ENGINE=django.db.backends.mysql
# DB_NAME=nombre_base_de_datos
# DB_USER=usuario_base_de_datos
# DB_PASSWORD=contraseña_base_de_datos
# DB_HOST=localhost
# DB_PORT=3306
